@import url(https://fonts.googleapis.com/css?family=Nunito:400,700);
// Fonts

div.wrapper{
    background-image: url("../images/container-repeater.gif");
    background-repeat: repeat-x;
}
div.welcome {
    font-family: Nunito, sans-serif;
    //border-radius: 10px;
    //border: 2px solid #41D873; //Green
    //border: 2px solid #002e5f;
    padding: 10px;
    margin: 0 auto;
}

div.searchrequest {
    font-family: Nunito, sans-serif;
    border-radius: 25px;
    //border: 2px solid #41D873; //Green
    border: 2px solid #002e5f;
    padding: 20px;
    margin: 0 auto;
}

form {
    //max-width: 450px;
    font-family: Nunito, sans-serif;
    border-radius: 25px;
    //border: 2px solid #41D873;
    padding: 20px;
    margin: 0 auto;

    // positioning context
    > div.a {
        display: inline-block;
        width: 230px;
        margin: 20px 0;
        background: white;
        border-bottom: 1px solid #ccc;

        // Looks like placeholder
        > label {
            opacity: 0.3;
            font-weight: bold;
            position: absolute;
            top: 12px;
            left: 10px;
        }

        > input[type="text"],
        > input[type="email"],
        > input[type="password"] {
            width: 100%;
            border: 0;
            padding: 10px 10px 10px 40px;
            background: #eee;

            &:focus {

                // removing default focus style
                outline: 0;
                // adding new one
                background: white;

                & + label {
                    opacity: 0;
                }
            }

            &:valid {
                background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/check.svg);
                //background: url("../images/check.svg");
                background-size: 20px;
                background-repeat: no-repeat;
                background-position: 10px 10px;
                & + label {
                    opacity: 0;
                }
            }

            &:invalid:not(:focus):not(:placeholder-shown) {
                background: pink;
                & + label {
                    opacity: 0;
                }
            }

            &:invalid:focus:not(:placeholder-shown) {
                & ~ .requirements {
                    max-height: 200px;
                    padding: 0 20px 10px 50px;
                }
            }

        }

        .requirements {
            padding: 0 20px 0 50px;
            color: #999;
            max-height: 0;
            transition: 0.28s;
            overflow: hidden;
            color: red;
            font-style: italic;
        }

    }
    > div.b {
        display: inline-block;
        .req {
            padding: 0 20px 0 50px;
            color: #999;
            max-height: 0;
            transition: 0.28s;
            overflow: hidden;
            color: red;
            font-style: italic;
        }
    }
    > div.c {
        display: inline-block;
        width: 200px;
        margin: 10px 0;


    }
    button[type="submit"]{
        display: inline-block;
        margin: 0 40px 0;
        //background: #002e5f; //Green 41D873
        background-image: url("../images/button-background-repeater.gif");
        background-repeat: repeat-x;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        color: white;
        border: 0;
        padding: 10px;
        font-size: 1.0rem;
    }
    >div.d {
        display: inline-block;
        border: 2px solid #002e5f; //Green 41D873
    }
}

body {
    background: #FFF;
    font-family: Nunito, sans-serif;
    padding: 10px;
}

* {
    //box-sizing: border-box;
}
/* --- The Table Structure --- */
table {
    font-family: Nunito, sans-serif;
    border-collapse: separate;
    //border-spacing: 0;
    //border: 2px solid #41D873;
}
table b {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/check.svg);
    //background: url("../images/check.svg");
    font-size: 1rem;
    background-size: 18px;
    background-repeat: no-repeat;
    //background-position: 10px 10px;
    opacity: 100%;
}
table list {
    font-size: 1rem;
    box-shadow: 2px 2px 2px 2px #e5dfcc;
}
table tr th,
table tr td {
    box-shadow: 2px 2px 1px #e5dfcc;
}
table tr th:first-child,
table tr td:first-child {
    //border-left: 1px solid #bbb;
}
table tr th {
    //border-top: 1px solid #bbb;

}

/* top-left border-radius */
table tr:first-child th:first-child {
    border-top-left-radius: 5px;
}

/* top-right border-radius */
table tr:first-child th:last-child {
    border-top-right-radius: 5px;
}

/* bottom-left border-radius */
table tr:last-child td:first-child {
    border-bottom-left-radius: 3px;
}

/* bottom-right border-radius */
table tr:last-child td:last-child {
    border-bottom-right-radius: 3px;
}

/* -- The Styles -- */
body {
    margin: 30px;
    background: #F8F8FF;
    font-family: 'Muli', serif;
}
th, td{
    padding: 8px 20px;
}
th {
    background: #002e5f; //Green 41D873
    color: #fff;
    border: 0;
}
td {
    background: #F8F8FF; /* Ghostwhite */
}
