@charset "utf-8";
/*
 * Base styles
 * -----------
 */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    font: 76%/1.6 Verdana, Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #002f5f;
    text-decoration-color: #002f5f;
    font-weight: normal;
    letter-spacing: -1px;
}

h1 {
    margin-top: 23px;
    margin-bottom: 11px;
    font-size: 230%;
}

h2 {
    margin-top: 15px;
    margin-bottom: 7px;
    font-size: 150%;
}

h3 {
    margin-top: 14px;
    margin-bottom: 7px;
    font-size: 140%
}

h4 {
    margin-top: 10px;
    margin-bottom: 6px;
    font-size: 100%;
}

p {
    margin-top: 6px;
    margin-bottom: 6px;
}

/*
a:link {
    color: #005b7f;
}

a:visited {
    color: #7d7d7d;
}

a:hover {
    color: #000;
}*/

input, button, select {
    vertical-align: middle;
}

textarea {
    vertical-align: top;
}

input:not([type="submit"]):focus, textarea:focus, select:focus {
    border: 1px solid black;
}

button, input[type="submit"], .btn-submit {
   /*
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-position: left;
    background-repeat: repeat-x;
    color: white;
    border: none;*/
}

/*
 * Utility classes
 * ---------------
 */

.box {
    display: inline-block;
    border: 1px solid #d7e0eb;
    padding: 10px;
    margin: 6px;
}

.left {
    float: none;
}

.right {
    float: none;
}

.clear {
    clear: both;
}

.lclear {
    clear: left;
}

.rclear {
    clear: right;
}

.fade {
    font-size: 90%;
    color: #666666;
}

/*
 * Theme element styles
 * --------------------
 */

#container {
    margin-left: auto;
    margin-right: auto;
    max-width: 994px;
    min-height: 100vh;
    padding-bottom: 20px;
    position: relative;
}

#top-links, #header {
    background-color: #eb7125;
    color: white;
}

#top-links {
    padding-left: 4%;
    padding-right: 4%;
    text-align: right;
}

#top-links a {
    color: white;
    font-size: 80%;
    text-decoration: none;
}

#top-links a:hover {
    text-decoration: underline;
}

#top-links img {
    vertical-align: middle;
}

#header {
    padding-left: 4%;
}

#header-su-responsive {
    float: left;
    margin-top: 16px;
}

#header-su-responsive > img {
    width: 100%;
    max-width: 500px;
}

#header-dsv {
    float: left;
    padding-top: 50px;
    padding-bottom: 25px;
}

#header-dsv > img {
    width: 100%;
    max-width: 284px;
}

#header-su {
    float: right;
    margin-top: 16px;
    margin-right: 20px;
}

#contents {
    font-family: Georgia, "Times New Roman", Times, serif;
    margin: 12px auto 100px;
    padding-left: 4%;
    padding-right: 4%;
}

#footer {
    border-top: 1px solid #d2d7dc;
    font-size: 80%;
    padding-top: 11px;
    padding-bottom: 22px;
    width: 100%;
    bottom: 0;
}

#footer-name {
    float: left;
    padding-left: 11px;
}

#footer-dsv {
    font-weight: bold;
}

#footer-contact {
    float: right;
    padding-right: 11px;
}

#footer-clear {
    clear: both;
}

/*
 * Media queries
 * -------------
 */

@media screen and (max-width: 17em) {
    #footer-contact {
        clear: left;
        float: left;
        padding-left: 11px;
        margin-left: 0;
    }
}

@media screen and (min-width: 24em) {
    #footer-name > div {
        display: inline;
    }

    #footer-su::before {
        content: "| "
    }
}

@media screen and (min-width: 500px) {
    #header {
        padding-left: 20px;
    }

    #top-links, #contents {
        padding-left: 20px;
        padding-right: 20px;
    }

    .right {
        margin-top: 0;
        float: right;
    }

    .left {
        margin-top: 0;
        float: left;
    }
}

@media screen and (max-width: 767px) {
    #header-su {
        display: none;
    }

    #header-su-responsive {
        display: inline-block;
    }

    #header-dsv {
        padding-top: 5px;
    }

    #header-dsv img {
        width: 60%;
    }
}

@media screen and (min-width: 767px) {
    #header-su {
        display: inline-block;
    }

    #header-su-responsive {
        display: none;
    }
}

@media screen and (min-width: 994px) {
    #container {
        background-image: 'images/container-repeater.gif';
        background-position: left top;
        background-repeat: repeat-y;
        padding-left: 4px;
        padding-right: 4px;
    }

    #footer {
        width: calc(100% - 8px);
    }
}

.link {
    cursor: pointer;
}

.link .fas {
    margin-right: 6px;
}

tr.update {
    border: none;
    box-shadow: none;
}

tr.update > td {
    background: none;
    border: none;
    box-shadow: none;
    padding: 0px 0px 0px 30px;
}

.form-group-header {
    color: #002f5f;
    text-decoration-color: #002f5f;
    font-weight: 500;
    font-size: 140%;
    line-height: 1.2;
}

.mw-400 {
    max-width: 400px;
}

.spacer {
    min-height: 5px;
    line-height: 5px;
    border-collapse: separate;
    border-spacing: 0 1em;
}

.mediumEditor {
    height: 100% !important;
}

.medium-editor-toolbar li button {
    background-color: orange;
}

.medium-editor-element.expanded {
    height: 100%;
    overflow: visible;
}

.medium-editor-element.collapsed {
    height: 29px !important;
    overflow: hidden;
}

.collapseEditor {
    margin-left: 6px;
    cursor: pointer;
}

select[name="activity_reminder[]"] {
    width: 60px;
}

.multiselect-container li, button.multiselect {
    padding-top: calc(.25rem + 1px);
    padding-bottom: calc(.25rem + 1px);
    font-size: .875rem;
    color: inherit;
    line-height: 1.5;
}

.font-100 {
    font-size: 100% !important;
}

.font-14 {
    font-size: 14px !important;
}

.cursor-default {
    cursor: default !important;
}

.badge {
    display: inline-flex !important;
    align-items: center !important;
}

div.wrapper {
    background-image: url("../images/container-repeater.gif");
    background-repeat: repeat-x;
}

#header-main-search-form {
    position: relative
}

#header-main-search-text {
    font-size: 150%;
}

#header-main-search-form .form-control-main-search {
    background-color: #fff;

}

#header-main-search-form .twitter-typeahead {
    margin: auto;
    width: 75%;
}

#header-main-search-form .search_autocomplete {
    -webkit-box-shadow: 0 0 6px 0 rgba(76, 76, 76, 0.2);
    box-shadow: 0 0 6px 0 rgba(76, 76, 76, 0.2);
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: absolute;
    background-color: #fff;
    border: 1px solid #dadada;
    width: 100%;
    z-index: 99999;
    color: #002f5f
}

#header-main-search-form .search_autocomplete ul, #header-main-search-form .autoc-autocomplete-items {
    padding: 1.4rem 0;
    margin: 0
}

#header-main-search-form .search_autocomplete li {
    border-bottom: 0;
    font-size: 120%;
    padding: .3rem 0 .3rem 1.8rem;
    cursor: pointer;
    display: block;
    width: 100%
}

#header-main-search-form .search_autocomplete li.active,
#header-main-search-form .search_autocomplete li.tt-cursor {
    background: #eef9fa;
}

#header-main-search-form .search_autocomplete li.active a,
#header-main-search-form .search_autocomplete li:hover a,
#header-main-search-form .search_autocomplete li.tt-cursor a {
    color: inherit;
    text-decoration: none;
}

#header-main-search-form .search_autocomplete li:last-child {
    border-bottom: 0
}

#header-main-search-form .search_autocomplete .autocomplete-separator {
    border-bottom: #dadada
}